<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My app</title>
    <style>
        .topic {
            font-size: 50px;
            text-decoration: none;
        }
    </style>
</head>

<body>
        <center>
            <nav>
                <a href="/">Monuments</a>
                <a href="/resort1">Resorts</a>
                <a href="/museums1" class="topic">Museums</a>
            </nav>
        </center>
        <br>
        <center>
                    <th style="width: 20%">MUSEUMS NAMES</th>
                    <th style="width: 20%">MUSEUMS ID </th>
                    <th style="width: 50%">LOCATION </th>
                    <th style="width: 10%">FEE </th>
                    <br>
                    <br>
                <% for(var i=0; i < museums.length; i++) {%>
                    <tr style="text-align: center">
                        <td>
                            <%= museums[i].Name %>
                        </td>
                        <td>
                            <%= museums[i].Id %>
                        </td>
                        <td>
                            <%= museums[i].Location %>
                        </td>
                        <td>
                            <%= museums[i].Fee %>
                        </td>
                    </tr>
                    <br>
                    <% } %>
        </center>
</body>

</html>